.DS_Store
.idea/attendance-monitoring-system.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
data/.DS_Store
.idea/.gitignore
.gitignore
